body{
    padding: 0;
    margin: 0;
}

.content-blur{
    position: fixed;
    top: 0;
    background-color: black;
    opacity: 75%;
    height: 100%;
    width: 100%;    
}

.content{
    display: flex;
    padding: 0;
}

.box{
    background-color: #8ED6FE;
    border-radius: 2rem;
    min-width: 29rem;
    min-height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning{
    color: red;
}

.title-logout{
    margin-bottom: 3rem;
}

.column-logout{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button-logout {
    min-width: 75%;
    font-size: 1.1rem;
    border: 0.1rem solid black;
    border-radius: 0.7rem;
}

.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}