<%= stylesheet_link_tag('login.css') %>
<div class="login_container">
  <div class="container">
    <section class="welcome">
      <%= render partial: "welcome" %>
    </section>
    <section class="login">
      <%= render partial: "login" %>
    </section>
  </div>
</div>
