<h1 style="color: aqua;">Exemplo</h1>
<div class="content-blur content logout">
    <div class="box">
        <div class="column-logout">
            <h3 class="title-logout warning">Gostaria de sair?</h3>
            <button class="button-logout" onclick="alert()">Sim</button>
        </div>
    </div>
</div>
